@model List<BuildingSafetyCertificateDocFields>
@{
    ViewData["Title"] = "List Documents";

}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">File Name</th>
            <th scope="col">Business Area</th>
            <th scope="col">Document Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <th scope="row">@Html.ActionLink(i.Id, "Update","Home", new { Id = i.Id })</th>
                <td>@Html.ActionLink(i.FileName, "Update", "Home", new { Id = i.Id })</td>
                <td>@i.BusinessArea?.Name</td>
                <td>@i.DocumentType?.Name</td>
            </tr>
        }

    </tbody>
</table>